body {
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: default;
}

a:hover {
  color: #2196f3;
}

a:active {
  color: #5f94c0;
}

.services-button {
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  width: 197px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.services-button:hover {
  background-color: #5f94c0;
}

.services-button:active {
  background-color: white;
  color: #2196f3;
  border: solid 1px #2196f3;
}

.logo-nav {
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  width: 145;
  height: 31;
}

.selected {
  color: #2196f3;
}

.navbar {
  font: roboto;
  font-weight: 500;
  font-size: 14px;
  width: 65;
  height: 16;
}

.main-tittle {
  font-size: 44px;
  font-weight: 900;
  width: 696px;
  height: 120px;
}

.first-section h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.first-section p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  width: 270px;
  height: 95px;
  color: #757575;
}

.second-section h2 {
  width: 371.15px;
  height: 46.24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.second-section img {
  width: 373.16px;
  height: 323.7px;
}

.third-section h2 {
  width: 263px;
  height: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.third-section img {
  width: 270px;
  height: 260px;
}

.third-section h3 {
  width: 118px;
  height: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}

.third-section p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  width: 1600px;
  height: 252px;
  left: 30px;
  right: 60px;
  top: 1628px;
}

.footer-addres {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
}

.footer-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.footer-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.buttons-item {
  width: 128px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}

.buttons-item:hover {
  background-color: #2196f3;
  color: white;
}
.button-active {
  width: 128px;
  height: 38px;
  background-color: #2196f3;
  color: white;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}

.images-list h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
  letter-spacing: 0.06em;
  color: #212121;
}

.images-list p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.images-list li {
  cursor: pointer;
}

.navbar a {
  cursor: pointer;
}

footer {
  background: #2f303a;
  width: 100%;
  height: 252px;
}

.mail-tel a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.mail-tel :hover a {
  color: #2196f3;
  cursor: pointer;
}
